# Example Environment variables for bakery_eureka_server
ACTIVE_PROFILE=dev
CONFIG_SERVER_URL=http://config-server:8081
EUREKA_HOSTNAME=eureka-server
EUREKA_URL=http://eureka-server:8082/eureka/

SERVER_PORT=8082

ELASTICSEARCH_URIS=http://elasticsearch:9200
KIBANA_URL=http://kibana:5601

SPRING_DOCKER_COMPOSE_ENABLED=false
